Integra2/src/main/app/Integra2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.6.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="87" user="usrPrecios" password="5czsxy9xHh5zHF3" doc:name="MySQL Configuration" database="INTEGRA"/>
    <db:mysql-config name="TEST_MySQL_Configuration" host="localhost" port="3306" user="root" password="password" database="test" doc:name="MySQL Configuration"/>
    <db:mysql-config name="MySQL_Configuration_Insert" host="localhost" port="87" user="usrUrl" password="TQy4TdacyuK8R8Cy" database="INTEGRA" doc:name="MySQL Configuration"/>
    <flow name="Integra2Flow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="tweets/" doc:name="HTTP"/>
        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties.'http.query.params'.id.matches(&quot;^[0-9]*$&quot;) != false]">
                <set-variable variableName="id" value="#[message.inboundProperties.'http.query.params'.id]" doc:name="ID"/>
                <set-variable variableName="url" value="#[message.inboundProperties.'http.query.params'.url]" doc:name="URL"/>
                <db:insert config-ref="MySQL_Configuration_Insert" doc:name="Database Insert">
                    <db:parameterized-query><![CDATA[INSERT INTO `test`.`tweets` (`Id`, `Url`, `Grupo`) VALUES (#[flowVars.id], #[flowVars.url], '2');]]></db:parameterized-query>
                </db:insert>
                <set-payload value="#[&quot;Inserted into database&quot;]" doc:name="Set Payload"/>
            </when>
            <otherwise>
                <set-payload value="#['Message: ID error' ]" doc:name="Set Payload"/>
            </otherwise>
        </choice>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-payload value="#[&quot;Exception: Duplicated Primary Key&quot;]" doc:name="Set Payload"/>
        </catch-exception-strategy>
    </flow>
    <flow name="Integra2Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="prices/" doc:name="HTTP"/>
        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties.'http.query.params'.sku.matches(&quot;^[0-9]{1,2}$&quot;) != false &amp;&amp; message.inboundProperties.'http.query.params'.date.matches(&quot;^(0[1-9]|1[012])[-](0[1-9]|[12][0-9]|3[01])[-](19|20)\\d\\d$&quot;) != false]">
                <set-variable variableName="sku" value="#[message.inboundProperties.'http.query.params'.sku]" doc:name="sku"/>
                <set-variable variableName="date" value="#[message.inboundProperties.'http.query.params'.date]" doc:name="date"/>
                <db:select config-ref="MySQL_Configuration" doc:name="Database">
                    <db:parameterized-query><![CDATA[SELECT *
FROM precios
WHERE sku = #[flowVars.sku] AND Fecha_Inicio <= STR_TO_DATE(#[flowVars.date],'%m-%d-%Y')
ORDER BY Fecha_Inicio DESC 
LIMIT 1;]]></db:parameterized-query>
                </db:select>
            </when>
            <when expression="#[message.inboundProperties.'http.query.params'.sku.matches(&quot;^[0-9]{1,2}$&quot;) == false ]">
                <set-payload value="#['Message: Sku error' ]" doc:name="Sku error"/>
            </when>
            <when expression="#[message.inboundProperties.'http.query.params'.date.matches(&quot;^(0[1-9]|1[012])[-](0[1-9]|[12][0-9]|3[01])[-](19|20)\\d\\d$&quot;) == false]">
                <set-payload value="#['Message: Date error. Format dd-mm-yyyy' ]" doc:name="Date error"/>
            </when>
            <otherwise>
                <set-payload value="#['Message: Date error' ]" doc:name="Date and Sku error"/>
            </otherwise>
        </choice>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-payload value="#[&quot;Exception: Missing date or sku&quot;]" doc:name="Set Payload"/>
        </catch-exception-strategy>
    </flow>
</mule>
